// About Page

.about-page {
  .biography {
    padding-top: 150px;
    padding-bottom: 100px;

    .title {
      @include font-primary(700);
      font-size: 38px;
      color: $color-text;
      margin-bottom: 60px;
    }

    .profil-picture {
      background: #555;
      height: 600px;
    }

    .description {
      color: $color-text;
      margin-bottom: 40px;

      p {
        opacity: 0.6;
        font-size: 14px;
        line-height: 26px;
        white-space: pre-line;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include font-primary(700);
        opacity: 1;
        margin: 40px 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .social {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;

        a {
          @include font-primary(600);
          color: $color-text;
        }
      }

      li::after {
        content: '-';
        @include font-primary(600);
        opacity: 0.6;
        padding: 0 5px;
      }

      li:last-child::after {
        content: '';
        padding: 0;
      }
    }
  }

  .contact {
    background: $color-background-darker;
    padding: 100px 0;

    .title {
      @include font-primary(700);
      font-size: 28px;
      text-align: center;
      margin-bottom: 80px;
    }

    .form {
      .email {
        @include font-primary(500);
        color: $color-text;
        background: transparent;
        width: 100%;
        border: 0;
        border-bottom: solid 2px rgba(255, 255, 255, 0.25);
        transition: 0.2s;
        padding: 10px;
        margin-bottom: 60px;

        &:focus {
          outline: none;
          border-bottom: solid 2px rgba(255, 255, 255, 1);
        }
      }

      .message {
        @include font-primary(500);
        color: $color-text;
        background: transparent;
        width: 100%;
        min-height: 250px;
        border: 0;
        border-bottom: solid 2px rgba(255, 255, 255, 0.25);
        transition: 0.2s;
        padding: 10px;

        &:focus {
          outline: none;
          border-bottom: solid 2px rgba(255, 255, 255, 1);
        }
      }

      .send {
        text-align: center;
        margin-top: 80px;

        .btn-send {
          @include font-primary(600);
          padding: 20px 50px;
          opacity: 0.25;
          background: transparent;
          color: $color-text;
          border: solid 3px rgba(255, 255, 255, 0.5);
          transition: 0.2s;
          cursor: pointer;

          &:focus {
            outline: none;
          }

          &:hover {
            opacity: 1;
            border: solid 3px rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}
