// About Page

.about-page {
  .biography {
    padding-top: 150px;
    padding-bottom: 100px;

    .title {
      @include font-primary(700);
      font-size: 38px;
      color: $color-text;
      margin-bottom: 60px;
    }

    .profil-picture {
      background: #555;
      height: 600px;
    }

    .description {
      color: $color-text;
      margin-bottom: 40px;

      p {
        opacity: 0.6;
        font-size: 14px;
        line-height: 26px;
        white-space: pre-line;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include font-primary(700);
        opacity: 1;
        margin: 40px 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .social {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;

        a {
          @include font-primary(600);
          color: $color-text;
        }
      }

      li::after {
        content: '-';
        @include font-primary(600);
        opacity: 0.6;
        padding: 0 5px;
      }

      li:last-child::after {
        content: '';
        padding: 0;
      }
    }
  }

  .contact {
    background: $color-background-darker;
    padding: 100px 0;

    .title {
      @include font-primary(700);
      font-size: 28px;
      text-align: center;
      margin-bottom: 80px;
    }
  }
}
