// Project page

.project-page {
  .header {
    height: 500px;
    width: 100%;
    background: #555;
    position: fixed;
    background-size: cover;
    background-position: top center;
  }

  .content {
    padding-top: 100px;
    position: absolute;
    background: $color-background;
    top: 500px;
    width: 100%;
  }
}
