// Navbar

section.navbar {
  width: 100%;
  display: flex;
  align-content: space-between;
  padding: 30px;
  position: fixed;
  z-index: 2;

  .left {
    .logo {
      @include font-primary(700);
      font-size: 20px;
      letter-spacing: 5px;

      a {
        color: $color-text;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .right {
    .btn-menu {
      display: block;
      position: absolute;
      cursor: pointer;
      padding: 5px;
      top: 30px;
      right: 30px;

      span {
        width: 23px;
        height: 2px;
        display: block;
        background: $color-text;
        margin-bottom: 5px;
        transition: 0.2s;
      }

      &:hover {

        span {
          margin-bottom: 7px;
          transition: 0.2s;
        }
      }
    }
  }

  .menuAnimation {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
